* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.top-banner-left h1 {
    font: 900 48px 'Roboto', sans-serif;
    color: #F9FAF8;
}

.header-logo h1 {
    font: 900 24px 'Roboto', sans-serif;
    color: #F9FAF8;
}

.image-gallery h2 {
    font: 900 36px 'Roboto', sans-serif;
    color: #1F2937;
}

.gallery p {
    font: 18px 'Roboto', sans-serif;
    color: #1F2937;
}

.top-banner p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #F9FAF8;
}

.container {
    /* border: 3px solid green; */
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: flex;
    background-color: #1F2937;
}

.header-logo {
    /* border: 3px solid red; */
    padding-left: 1rem;
    flex: 1 1;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

.header-navigation {
    /* border: 3px solid blue; */
    flex: 1 1;
    scroll-padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

li,
li a {
    float: right;
    padding: 1rem;
}

.top-banner {
    display: flex;
    background-color: #1F2937;
}

.top-banner-left {
    /* border: 3px solid brown; */
    padding-left: 1rem;
    flex: 1 1;
}

.top-banner-right {
    /* border: 3px solid yellowgreen; */
    flex: 1 1;
    flex-wrap: wrap;
    padding: 1rem;
}

.top-banner-right img {
    width: 100%;
    border: 2px solid #3882F6;
}

.image-gallery {
    border: 3px solid orange;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery-title {
    flex: 1 1 100%;
    /* border: 3px solid purple; */
    text-align: center;
}

.gallery {
    /* border: 3px solid grey; */
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-column-gap: 3rem;
    margin-bottom: 5rem;
}

.gallery img {
    width: 100%;
    height: max-content;
    height: fit-content;
    border-radius: 5%;
    border: 2px solid #3882F6;
}
